@model BlogTeste2.Models.Post

@using (Html.BeginForm("EditaPost", "Home"))
{

    @Html.HiddenFor(p => p.Id)
    @Html.HiddenFor(p => p.Publicado)
    @Html.HiddenFor(p => p.DataPublicacao)

    @Html.EditorFor(p => p)

    <button type="submit">Cadastrar</button>
}

@section Scripts{
    @Html.Partial("_Scripts")
}