@model BlogTeste2.Models.LoginViewModel
@{ 
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resenha Cultural - Login</title>
    <link rel="stylesheet" href="~/Content/bootstrap.css" class="href">
    <link rel="stylesheet" href="~/Content/estilo.css" class="href">
</head>
<body>
    <div class="container">
        <main>
            
            @using (Html.BeginForm("Login", "Autenticacao", FormMethod.Post, new { id = "login-form" }))
            {
                <h2>Login</h2>
                <div class="has-error">
                    @Html.ValidationSummary()
                </div>

                <div class="form-group">
                    @Html.LabelFor(u => u.LoginName)
                    @Html.TextBoxFor(u => u.LoginName, new { @class = "form-control" } )
                </div>

                <div class="form-group">
                    @Html.LabelFor(u => u.Password)
                    @Html.PasswordFor(u => u.Password, new { @class = "form-control" })
                </div>

                <button class="btn btn-default" type="submit">Entrar</button>
                <p>Não possui conta? @Html.ActionLink("Registre-se", "Registro") gratuitamente!.</p>
            }
            
        </main>
    </div>
</body>
</html>