<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Resenha Cultural</title>
    <link rel="stylesheet" href="~/Content/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/estilo.css" type="text/css" />
</head>
<body>
    @Html.ActionLink("Login", "Login", "Autenticacao", null, new { id = "login", @class = "btn btn-default" })
    @Html.Partial("Cabecalho")
    <div class="container">
        <main>
            @RenderBody()
        </main>
        @Html.Partial("Lateral")
    </div>
    @Html.Partial("Rodape")
    <!-- seção opcional para carregar os scripts -->
    @RenderSection("Scripts", false)
</body>
</html>
